:root {
  /* FONT  */
  --ws-root-font-size: 16px;
  --ws-body-font: 'Lato', sans-serif;
  --ws-heading-font: 'Poppins', sans-serif;

  /* COLOR  */
  --ws-theme-color: #1ABC9C;
  --ws-text-color:  #555;
  --ws-body-bg: #FFFFFF;
  --ws-body-bg-dark: #383838;
  --ws-text-color-dark: #EEE;
  --ws-icon-color: #000000;

  /* MARGİN */
  --ws-margin-base: 1rem;
  --ws-mbottom-sections-multiplier: 1;
  --ws-mbottom-dark-sections-multiplier: 2;
  --ws-mbottom-contents-multiplier: 1;
  --ws-mtop-content-wrap-multiplier: 4;
  --ws-mbottom-content-wrap-multiplier: 2;
  --ws-mbottom-footer-content: 1;

  /* PADDİNG */
  --ws-padding-base: 1rem;
  --ws-ptop-dark-sections-multiplier: 2;
  --ws-pbottom-dark-sections-multiplier: 1;
}