// Initialize
@import "variables";
@import "mixins";

/*-----------------------------------------------------------------------------------
    Bracket Custom Scheme - sass/bracket.scss
-----------------------------------------------------------------------------------*/



#bracket *,
#bracket ::after,
#bracket ::before {
    box-sizing: content-box;
}

#bracket {
    overflow: hidden;
    padding-top: 20px;
    font-size: 12px;
    padding: 30px 0;
}

#bracket .row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}




.split {
    display: block;
    float: left;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 19%;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
}

.split-two {}

.split-one .round {
    /* margin: 0 5% 0 0; */
}

.split-two .round {
    /* margin: 0 0 0 5%; */
}





.round {
    display: block;
    float: left;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.round-two .matchup {
    margin: 0;
    height: 60px;
    padding: 50px 0;
}

.round-three .matchup {
    margin: 0;
    height: 60px;
    padding: 130px 0;
}

.round-details {
    font-weight: 700;
    color: #31404b;
    text-transform: uppercase;
    text-align: center;
    line-height: 16px;
}





.champion {
    float: left;
    display: block;
    width: 22%;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-self: center;
    align-self: center;
    margin: -15px 10px 0 10px;
    text-align: center;
    padding: 90px 0 0 0;
}

@media (max-width: 1199px) {
    .champion {
        width: 21%;
    }
}

@media (min-width: 1200px) {
    .champion {
        width: 22%;
    }
}

.champion i {
    color: #a0a6a8;
    font-size: 45px;
    padding: 10px 0;
}






.matchup {
    margin: 0;
    width: 100%;
    padding: 10px 0;
    height: 60px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}





.team-container {
    padding: 0 10px;
    margin: 3px 0;
    height: 60px;
    line-height: 25px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}




.vote-options {
    display: block;
    height: 52px;
}



.final {
    margin: 60px 0;
}

.final .fa-trophy {
    font-size: 40px;
}


#schedule {
    display: none;
}


@media screen and (max-width: 991px) {
    #bracket {
        display: none;
    }

    #schedule {
        display: block;
    }

    .split,
    .champion {
        width: 90%;
        margin: 35px 5%;
    }

    .final {}

    .semis-l {
        width: 50%;
    }

    .semis-r {
        width: 50%;
    }

    .champion {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }

    .split {
        border-bottom: 1px solid #b6b6b6;
        padding-bottom: 20px;

        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }

}


@media screen and (max-width: 575px) {

    .split {
        width: 95%;
        margin: 25px 2.5%;
    }

    .round {
        width: 21%;
    }

    .current {
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        flex-grow: 1;
    }

}

.matchsss {
    width: 100%;
    background: white;
    height: calc(100% - 2px);
    line-height: 22px;
    border: 1px solid #e1e1e1;
    background: #fff;
    border-radius: 4px;
}

.matchsss .game-result__content {
    padding: 5px 5px;
}

.matchsss .game-result__score--lg {
    font-size: 16px;
    margin: 5px 0 0 0;
}

.matchsss .game-result__team--first .game-result__team-info,
.matchsss .game-result__team--first .game-result__team-info .game-result__team-logo-img {
    float: none;
}

.matchsss .game-result__team--second .game-result__team-info,
.matchsss .game-result__team--second .game-result__team-info .game-result__team-logo-img {
    float: none;
}

.matchsss .game-result__team {
    margin-top: 0;
}

.matchsss .game-result__team-name {
    font-size: 12px;
    margin: 0;

    overflow: hidden;
    text-overflow: clip;
    display: block;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.matchsss .game-result__team-desc {
    font-size: 10px;
    margin: 0;

    overflow: hidden;
    text-overflow: clip;
    display: block;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.matchsss .game-result__score-label {
    font-size: 10px;
    line-height: 10px;
}

.matchsss .game-result__vs {
    margin-top: 14px;
}

.matchsss .game-result {
    border: none;
    background: none;
}


.championship {
    padding-top: 0;
}


.matchup-l16 {
    padding-top: 10px !important;
}

.matchup-qf {
    padding-top: 80px !important;
}

.matchup-sf {
    padding-top: 40px !important;
}





