/* ----------------------------------------------------------------

	content.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Content
-----------------------------------------------------------------*/

[class*="col-"]:not([class*="sticky-"]):not([class*="position-"]) {
	position: relative;
}

#content {
	position: relative;
	background-color: $body-bg;
	p { line-height: $line-height-content; }
	.content-wrap {
		position: relative;
		/* CSSCANBERK padding: $content-padding 0; */
		padding-top: calc($padding-base * $ptop-content-wrap-multiplier);
		padding-bottom: $pbottom-content-wrap-multiplier;
		overflow: hidden;
	}
	.container { position: relative; }
}

.grid-container,
.grid-inner {
	position: relative;
	overflow: hidden;
	will-change: transform;
}

.grid-inner {
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	// CSSCANBERK eklendi.
	margin-bottom: calc($margin-base * $mbottom-contents-multiplier);
}

body:not(.device-touch) .grid-container {
	-webkit-transition: height .4s ease;
	-o-transition: height .4s ease;
	transition: height .4s ease;
}