// Bootstrap override
.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    padding-right: var(--ws-padding-base) !important;
    padding-left: var(--ws-padding-base) !important;
}

.row {
    margin-right: calc(var(--ws-margin-base) * -0.5) !important;
    margin-left: calc(var(--ws-margin-base) * -0.5) !important;
}


.row > * {
    padding-right: calc(var(--ws-padding-base) * 0.5) !important;
    padding-left: calc(var(--ws-padding-base) * 0.5) !important;
}


// Header
.ws-menu-left {
	#logo {
		margin-right: 30px;
	}
	nav {
		margin-right: auto;
	}
}

.ws-menu-center {
	#logo {
		width: 200px;
	}
	@include media-breakpoint-up(lg) {
		.header-misc:not(.ws-side-area) {
			width: 200px;
			justify-content: right;
		}
	}
	nav {
		margin: auto;
	}
}

.ws-menu-right {
	.header-misc {
		div:first-child{
			margin-left: 30px;
		}
	}
	nav {
		margin-left: auto;
	}
}

.ws-menu-left-below {
	nav {
		margin-right: auto;
	}
	#primary-menu-trigger {
		margin-right: auto;
	}
}

.ws-menu-center-below {
	justify-content: center !important;
	.header-misc {
		div:first-child{
			margin-left: 30px;
		}
	}
	
	#primary-menu-trigger {
		margin-right: auto;
	}
}

.ws-menu-right-below {
	.header-misc {
		div:first-child{
			margin-left: 30px;
		}
	}
	nav {
		margin-left: auto;
	}
	#primary-menu-trigger {
		margin-right: auto;
	}
}

.input-group {
	.btn {
		position: absolute;
		right: 0;
		z-index: 99;
	}
}

.ws-side-area {
	.portfolio-image {
		a {
			img {
				margin-bottom: unset;
			}
		}
	}
	li * {
		margin-bottom: unset;
	}
	.fbox-center {
		padding: 0 1rem;
		.fbox-icon {
			margin-bottom: 0.5rem;
		}
	}
}

@include media-breakpoint-up(lg) {
	.ws-side-area {
		margin-left: auto;
	}

	.menu-container:not(.sub-menu-container) > .menu-item:first-of-type > .menu-link {
		padding-left: 0px !important;
	}
	.menu-container:not(.sub-menu-container) > .menu-item:last-child > .menu-link {
		padding-right: 0px !important;	
	}
}

@include media-breakpoint-down(lg) {
	.ws-m-auto {
		margin: auto;
	}
}

@include media-breakpoint-down(sm) {
	#logo {
		width: 50% !important;
		img {
			height: unset !important;
		}
	}
	#primary-menu-trigger {
		width: unset !important;
	}
}


// Video & Playlist
.ws-video-container {
	position: relative;
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	border-style: none;
	margin-bottom: calc($margin-base * $mbottom-contents-multiplier);
}

.ws-video-content {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ws-playlist {
	max-height: 430px;
	overflow-y: auto;
	margin-bottom: calc($margin-base * $mbottom-contents-multiplier);
}

// Product Content
.product {
	@include media-breakpoint-down(lg) {
		.product-image {
			margin-bottom: var(--ws-margin-base);
		}
		.quantity {
			display: flex;
			margin-right: unset;
			margin-bottom: var(--ws-margin-base);
		}
		.add-to-cart, .buy-now {
			display: block;
			text-align: center;
		}
	}
}


// Footer
.ws-footer-content {
	margin-bottom: calc(var(--ws-margin-base) * var(--ws-mbottom-footer-content-multiplier));
}