
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/
#footer {
	position: relative;
	background-color: $footer-bg;
	border-top: $footer-top-border;
}

@if $footer-sticky-global {
	@include media-breakpoint-up(lg) {
		#footer {
			position: sticky;
			top: auto;
			bottom: 0;
			left: 0;
		}

		#slider:not(.slider-parallax-invisible),
		#page-submenu,
		#page-title,
		#content { z-index: 2; }
	}
}

@include media-breakpoint-up(lg) {
	.sticky-footer #slider:not(.slider-parallax-invisible),
	.sticky-footer #page-submenu,
	.sticky-footer #page-title,
	.sticky-footer #content { z-index: 2; }

	.sticky-footer #footer {
		position: sticky;
		top: auto;
		bottom: 0;
		left: 0;
	}
}

#footer .footer-widgets-wrap {
	position: relative;
	// CSSCANBERK padding: $content-padding 0;
	padding-top: calc(var(--ws-padding-base) * var(--ws-ptop-footer-wrap-multiplier));
	padding-bottom: calc(var(--ws-padding-base) * (var(--ws-ptop-footer-wrap-multiplier) - var(--ws-mbottom-footer-content-multiplier)));
}

#copyrights {
	// CSSCANBERK padding: round($content-padding / 2) 0;
	padding-top: calc(var(--ws-padding-base) * var(--ws-ptop-copyrights-wrap-multiplier));
	padding-bottom: calc(var(--ws-padding-base) * (var(--ws-ptop-copyrights-wrap-multiplier) - var(--ws-mbottom-footer-content-multiplier)));
	background-color: var(--ws-body-bg-d150); // DARKENİŞİ darken($footer-bg, 6.67); + $footer-bg: darken($body-bg, 6.67%); = 13.34
	font-size: $copyrights-font-size;
	line-height: $line-height-content;

	i.footer-icon {
		position: relative;
		top: 1px;
		font-size: $copyrights-font-size;
		width: $copyrights-font-size;
		text-align: center;
		margin-right: 3px;
	}

	a {
		display: inline-block;
		margin: 0 3px;
		color: var(--ws-text-color-d65); // DARKENİŞİ darken($text-color, 6.67);
		border-bottom: 1px dotted $text-color;
		&:hover {
			color: var(--ws-text-color-l65); // LİGHTENİŞİ lighten($text-color, 6.67);
			border-bottom: 1px solid var(--ws-text-color-l150); // LİGHTENİŞİ lighten($text-color, 13.33);
		}
	}
	.text-end a:last-child { margin-right: 0; }
}


.copyrights-menu { // CSSCANBERK margin-bottom: 10px;
	a {
		font-size: $copyrights-font-size;
		margin: 0 10px;
		border-bottom: 0 !important;
		&:first-child { margin-left: 0; }
	}
}


.footer-logo {
	display: block;
	// CSSCANBERK margin-bottom: 30px;
}